<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Users</h1>
        <%= will_paginate @users %>
      </div>

      <table class="table table-hover">
        <thead>
        <tr>
          <th>Email</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= link_to 'Show', user, id: "user_show_#{user.id}" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <div class="panel-footer">
        <%= page_entries_info @users %>
      </div>

    </div>
  </div>
</div>
